body{
    background-color: azure;
    background-position: center;
    background-attachment: fixed;
}
h1{
    color: rgb(13, 2, 2);
    font-size: medium;
    text-align: center;
}
div{
    color: blue;
}

div
{
    color: black;
}